<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">

<title>Presidential Polarity</title>

<base href="">

<link rel="canonical" href="http://polarity.dkrichards.com">
<link rel="home" href="/">
<!--<link rel="shortcut icon" href="/favicon.ico">-->
<!--<link rel="icon" type="image/png" href="/path/to/icons/favicon-192x192.png" sizes="192x192">-->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700, 500" rel="stylesheet">
<link rel="stylesheet" href="css/main.css" />

<meta name="google-site-verification" content="fnpgLVltsohkYzvnefmzpg2HmxFbP_88Nak73roWUZs" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@dkrichards86" />
<meta name="twitter:title" content="Presidential Polarity - Sentiment Analysis of Tweets mentioning President Trump." />
<meta name="twitter:description" content="Presidential Polarity presents results from sentiment analysis on Tweets mentioning President Trump." />
<meta name="twitter:image" content="https://dkrichards.com/images/consummatebro.png" />
<meta property="og:url" content="http://www.polarity.dkrichards.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Presidential Polarity - Sentiment Analysis of Tweets mentioning President Trump." />
<meta property="og:description"  content="Presidential Polarity presents results from sentiment analysis on Tweets mentioning President Trump.">